
<body style="width: auto; margin-left: 0rem; overflow-x: auto;">



  <div id="app" class="ember-application">
      <div class="ct__application ct__signUp   fr">
        <div class="application auth">

          <div class="auth__banner">
            <div class="auth__banner-wrapper">
              <div class="auth__banner-content">
                <h1 class="auth__banner-title">Gagnez du temps
                </h1>
                <h2 class="auth__banner-subtitle">Créez-vous un compte pour gérer en un clin d’oeil.
                </h2>
              </div>
            </div>
          </div>

          <div class="auth__content">
            <div class="auth__panels">
              <div class="auth__panel auth__info">
                <h3 class="auth__panel-title">Ce que vous y gagnez
                </h3>

                <ul class="sign-up-info">
                  <li>
                    <p class="sign-up-info__title">Emportez vos biens
                    </p>
                    <%= image_tag("icon/aztec-phone.svg", :height =>"4.06rem", :width => "2.25rem", :class => "sign-up-info__img") %>
                    <p class="sign-up-info__details">Gérer vos biens depuis votre ordinateur et retrouvez-les sur votre mobile, à portée de main.
                    </p>
                  </li>
                  <li>
                    <p class="sign-up-info__title">Gagnez du temps
                    </p>
                    <%= image_tag("icon/fav-fc.svg", :height =>"3.44rem", :width => "2.56rem", :class => "sign-up-info__img sign-up-info__img--small-left-shift") %>
                    <p class="sign-up-info__details">Restez informé de la vie de vos locations et de la relation avec vos locataire en temps réel.
                    </p>
                  </li>
                  <li>
                    <p class="sign-up-info__title">Pas de surprise
                    </p>
                    <%= image_tag("icon/card.svg", :height =>"2.44rem", :width => "3.13rem", :class => "sign-up-info__img sign-up-info__img--left-shift") %>
                    <p class="sign-up-info__details">Le prix ne comporte aucune astérisque, pas de surcoût, pas de coût caché.
                    </p>
                  </li>
                </ul>

              </div>
              <div class="auth__panel auth__form">
                <div class="sign-up">
                  <p class="sign-up__title">
                    Créer un compte avec votre adresse email
                  </p>

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                      <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Adresse email", autocomplete: "on", name: "email", input_html: { class: 'sign-up__email clicktale-pii ember-text-field textfield empty required'} %>
                      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "Mot de passe", autocomplete: "on", name:"password", input_html: { class: 'sign-up__password clicktale-pii ember-text-field textfield empty required'} %>
                      <%= f.input :password_confirmation, required: true, label: false, placeholder: "Mot de passe", autocomplete: "on", name:"password", input_html: { class: 'sign-up__password clicktale-pii ember-text-field textfield empty required'}  %>


                      <%= f.button :button, class: "sign-up__button" do %>

                         Créer un compte gratuitement

                      <% end %>

                    </div>
                  <% end %>





                  <div class="sign-up__separator">
                    <span>ou
                    </span>
                  </div>

                  <button class="social-signin-facebook">Créer un compte avec Facebook
                  </button>

                  <button class="social-signin-google">Créer un compte avec Google+
                  </button>

                  <p class="sign-up__terms-of-use">
                    Ces informations sont nécessaires pour créer votre compte. Vous pouvez nous contacter au sujet des informations que nous possédons sur vous. En vous inscrivant, vous acceptez notre
                    <%= link_to t(".terms", default: "politique de confidentialité des données"), terms_path %>
                </p>
              </div>
            </div>
          </div>

          <hr class="auth__separator">

          <div class="auth__section auth__ct-business">
            <h2 class="auth__section-title auth__ct-business-title">Vous êtes une entreprise ?
            </h2>
            <p class="auth__section-content">Nous avons créé Rntapp for Business en prenant le meilleur de Rntapp,
              <br>et en rajoutant tout ce dont votre entreprise a besoin.
            </p>
            <div class="auth_panels">
              <div class="auth__panel auth__bullet auth__ct-business-panel">
                <h4 class="auth__bullet-title">Rntapp for Business
                </h4>
                <p class="auth__bullet-content">Découvrez notre solution qui vous permettra de gérer tous les biens de vos clients sans surprise pour votre entreprise.
                </p>
              </div>
              <div class="auth__panel auth__ct-business-button-wrapper">
                <%= link_to t(".business", default: "En savoir plus"), business_path, class: "button auth__ct-business-button" %>
              </div>
            </div>
          </div>


        </div>



        <!---->
      </div>


      <!---->
      <!---->
    </div>
  </div>
</div>
</body>

