<!-- Different navigation if login or not -->
<% if user_signed_in? %>

<% else %>
  <footer class="static__footer">
    <div class="static__footer-container static__content">
      <div class="static__footer--left">
      <%= link_to root_path do %>
        <%=image_tag("logo/rntapp-logo-mint.png", class: "static__footer-logo")%>
      <% end %>


        <div class="static__footer-apps">
          <%= link_to bientot_path do %>
            <%=image_tag("store/app_store.svg", class: "static__footer-app--ios")%>
          <% end %>

          <%= link_to bientot_path do %>
            <%=image_tag("store/google_play.svg", class: "static__footer-app--android")%>
          <% end %>
        </div>
      </div>
      <div class="static__footer--right">
        <ul class="static__footer--links">
          <li class="static__footer--title">Rntapp
          </li>
          <li>
            <%= link_to t(".sign_up", default: "Créer un compte"), new_user_registration_path %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path %>
          </li>
          <li>
            <%= link_to t(".business", default: "Pour les entreprises"), business_path %>
          </li>
        </ul>
        <ul class="static__footer--links">
          <li class="static__footer--title">À propos
          </li>
          <li>
            <%= link_to t(".about", default: "Qui sommes nous"), about_path %>
          </li>
          <li>
            <%= link_to t(".jobs", default: "Offres d’emploi"), emploi_path %>
          </li>
          <li>
            <%= link_to t(".press", default: "Informations presse"), informations_presse_path %>
          </li>
          <li>
            <%= link_to t(".blog", default: "Blog"), bientot_path %>
          </li>
        </ul>
        <ul class="static__footer--links">
          <li class="static__footer--title">Ressources
          </li>
          <li>
            <%= link_to t(".help", default: "Aide"), bientot_path %>
          </li>
          <li>
            <%= link_to t(".code", default: "Codes promotionnels"), codes_promotionnels_path %>
          </li>
          <li>
            <%= link_to t(".privacy", default: "Données personnelles"), donnees_personnelles_path %>
          </li>
          <li>
            <%= link_to t(".cookies", default: "Cookies"), cookies_path %>
          </li>
        </ul>
        <ul class="static__footer--links">
          <li class="static__footer--title">Nous contacter
          </li>
          <li>
            <%= link_to t(".contact", default: "Contacter Rntapp"), contact_path %>
          </li>
          <li>
            <a href="mailto:contact@rntapp.fr" target="_blank">Ecrire au service client
            </a>
          </li>
          <li>
            <%= link_to t(".affiliate", default: "Demandes d'affiliation"), affiliation_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom-bar">
      <div class="static__content">
        <div class="footer__bottom-bar-container">
          <ul class="footer__bottom-links">
            <li>
            <%= link_to t(".terms", default: "CGV"), terms_path %>
            </li>
            <li>
            <%= link_to t(".legal", default: "Informations légales"), informations_legales_path %>
            </li>
          </ul>
          <ul class="footer__social-links">
            <li>
              <a class="footer__social-link footer__social-link--mail" href="/contact">
              </a>
            </li>
            <li>
              <a class="footer__social-link footer__social-link--twitter" href="https://twitter.com/rntapp" target="_blank">
              </a>
            </li>
            <li>
              <a class="footer__social-link footer__social-link--facebook" href="https://www.facebook.com/rntapp.fr" target="_blank">
              </a>
            </li>
            <li>
              <a class="footer__social-link footer__social-link--google-plus" href="https://plus.google.com/+rntapp/posts" target="_blank">
              </a>
            </li>
          </ul>
          <span class="footer__dont-be-late">Il est temps de vous libérer.
          </span>
        </div>
      </div>
    </div>
  </footer>
  <% end %>
