<div class="row padding">
<div class="col-xs-6">
<div class="box">
        <div class="box-tool">
              <ul class="nav">
                <li class="nav-item inline dropdown">
                  <a class="nav-link text-muted" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons md-18"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                    <a class="dropdown-item" href="">Activities</a>
                    <a class="dropdown-item" href="">Feed</a>
                    <a class="dropdown-item" href="">Photo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Follow</a>
                  </div>
                </li>
              </ul>
          </div>
          <div class="p-a-md text-center">
            <p><img src="../assets/images/a1.jpg" class="img-circle w-xs"></p>
            <a href="" class="text-md block">Jason Warren</a>
            <p><small>London, UK</small></p>
            <div>
              <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-facebook indigo"></i>
            </a>
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter light-blue"></i>
            </a>
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-google-plus"></i>
              <i class="fa fa-google-plus red"></i>
            </a>
            </div>
            <div class="text-center m-t">
              <a href="" class="btn btn-sm rounded primary w-sm m-y-xs">Follow</a>
              <a href="" class="btn btn-sm rounded btn-outline b-primary w-sm">Invite</a>
            </div>
          </div>
          <div class="row no-gutter b-t b-b">
          <div class="col-xs-6 b-r">
            <a class="p-a block text-center">
              <span class="block _600">3219</span>
              <span>Followers</span>
            </a>
          </div>
          <div class="col-xs-6">
            <a class="p-a block text-center">
              <span class="block _600">1458</span>
              <span>Following</span>
            </a>
          </div>
        </div>
        <div class="p-a">
          <a href="" class="text-ellipsis"><i class="fa fa-link text-muted m-r-sm"></i> apack.com/subdomain</a>
          <a href="" class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i> yourdomain.com</a>
        </div>
</div>
</div>
<div class="col-xs-6">
<div class="box">
        <div class="box-tool">




              <ul class="nav">
                <li class="nav-item inline dropdown">
                  <a class="nav-link text-muted" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons md-18"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                    <a class="dropdown-item" href="">Activities</a>
                    <a class="dropdown-item" href="">Feed</a>
                    <a class="dropdown-item" href="">Photo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Follow</a>
                  </div>
                </li>
              </ul>
          </div>
          <div class="p-a-md text-center">
            <p><img src="../assets/images/a1.jpg" class="img-circle w-xs"></p>
            <a href="" class="text-md block">Jason Warren</a>
            <p><small>London, UK</small></p>
            <div>
              <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-facebook indigo"></i>
            </a>
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter light-blue"></i>
            </a>
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
              <i class="fa fa-google-plus"></i>
              <i class="fa fa-google-plus red"></i>
            </a>
            </div>
            <div class="text-center m-t">
              <a href="" class="btn btn-sm rounded primary w-sm m-y-xs">Follow</a>
              <a href="" class="btn btn-sm rounded btn-outline b-primary w-sm">Invite</a>
            </div>
          </div>
          <div class="row no-gutter b-t b-b">
          <div class="col-xs-6 b-r">
            <a class="p-a block text-center">
              <span class="block _600">3219</span>
              <span>Followers</span>
            </a>
          </div>
          <div class="col-xs-6">
            <a class="p-a block text-center">
              <span class="block _600">1458</span>
              <span>Following</span>
            </a>
          </div>
        </div>
        <div class="p-a">
          <a href="" class="text-ellipsis"><i class="fa fa-link text-muted m-r-sm"></i> apack.com/subdomain</a>
          <a href="" class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i> yourdomain.com</a>
        </div>
</div>
</div>

</div>


<p id="notice"><%= notice %></p>

<h1>Bailleurs</h1>

<table>
  <thead>
    <tr>
      <th>Civilite</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Nommme</th>
      <th>Prenommme</th>
      <th>Nomdeux</th>
      <th>Prenomdeux</th>
      <th>Nomsociete</th>
      <th>Nrcs</th>
      <th>Tva</th>
      <th>Nomindivision</th>
      <th>Adresse</th>
      <th>Codepostal</th>
      <th>Ville</th>
      <th>Representant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bailleurs.each do |bailleur| %>
      <tr>
        <td><%= bailleur.civilite %></td>
        <td><%= bailleur.nom %></td>
        <td><%= bailleur.prenom %></td>
        <td><%= bailleur.nomMme %></td>
        <td><%= bailleur.prenomMme %></td>
        <td><%= bailleur.nomDeux %></td>
        <td><%= bailleur.prenomDeux %></td>
        <td><%= bailleur.nomSociete %></td>
        <td><%= bailleur.nRcs %></td>
        <td><%= bailleur.tva %></td>
        <td><%= bailleur.nomIndivision %></td>
        <td><%= bailleur.adresse %></td>
        <td><%= bailleur.codePostal %></td>
        <td><%= bailleur.ville %></td>
        <td><%= bailleur.representant %></td>
        <td><%= bailleur.user %></td>
        <td><%= link_to 'Show', bailleur %></td>
        <td><%= link_to 'Edit', edit_bailleur_path(bailleur) %></td>
        <td><%= link_to 'Destroy', bailleur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bailleur', new_bailleur_path %>
