<p id="notice"><%= notice %></p>

<p>
  <strong>Civilite:</strong>
  <%= @bailleur.civilite %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @bailleur.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @bailleur.prenom %>
</p>

<p>
  <strong>Nommme:</strong>
  <%= @bailleur.nomMme %>
</p>

<p>
  <strong>Prenommme:</strong>
  <%= @bailleur.prenomMme %>
</p>

<p>
  <strong>Nomdeux:</strong>
  <%= @bailleur.nomDeux %>
</p>

<p>
  <strong>Prenomdeux:</strong>
  <%= @bailleur.prenomDeux %>
</p>

<p>
  <strong>Nomsociete:</strong>
  <%= @bailleur.nomSociete %>
</p>

<p>
  <strong>Nrcs:</strong>
  <%= @bailleur.nRcs %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @bailleur.tva %>
</p>

<p>
  <strong>Nomindivision:</strong>
  <%= @bailleur.nomIndivision %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @bailleur.adresse %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @bailleur.codePostal %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @bailleur.ville %>
</p>

<p>
  <strong>Representant:</strong>
  <%= @bailleur.representant %>
</p>

<p>
  <strong>User:</strong>
  <%= @bailleur.user %>
</p>

<%= link_to 'Edit', edit_bailleur_path(@bailleur) %> |
<%= link_to 'Back', bailleurs_path %>
