  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item hidden-md-up mr-3">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <%= render "blocks/navbar_brand" %>

        <!-- navbar collapse -->
        <div class="collapse navbar-collapse" id="navbar-4">
          <!-- link and dropdown -->
          <ul class="nav navbar-nav m-r">
            <li class="nav-item dropdown dropdown-submenu pos-stc">
              <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                <span>Mega</span>
              </a>
              <%= render "blocks/dropdown_mega" %>
            </li>
            <li class="nav-item dropdown dropdown-submenu">
              <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                <span>Submenu</span>
              </a>
              <%= render "blocks/dropdown_sub" %>
            </li>
          </ul>
          <!-- / link and dropdown -->
          <%= render "blocks/navbar_form" %>
        </div>
        <!-- / navbar collapse -->


        <!-- nabar -->
        <ul class="nav navbar-nav flex-row align-items-center ml-auto">
          <li class="nav-item">
            <a class="nav-link" href>
              <i class="material-icons">&#xe877;</i>
              <span class="label up p-a-0 primary"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link" data-toggle="dropdown">
              <i class="material-icons">&#xe5c3;</i>
              <span class="label up p-a-0 accent"></span>
            </a>
            <%= render "blocks/dropdown_grid" %>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link" data-toggle="dropdown">
              <i class="material-icons">&#xe7f5;</i>
              <span class="label up p-a-0 warn"></span>
            </a>
            <%= render "blocks/dropdown_notification" %>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link dropdown-toggle text-ellipsis" data-toggle="dropdown">
              <span class="avatar w-32">
                <%= image_tag("a2.jpg", alt: "...")%>
                <i class="busy b-white right"></i>
              </span>
            </a>
            <%= render "blocks/dropdown_user" %>
          </li>
        </ul>
        <!-- / navbar -->
  </div>
