<%= link_to root_path, :class => 'header__link' do %>Apps<% end %>
<ul>
  <li><%= link_to t(".apps", default: "calendar"), apps_calendar_path %></li>
  <li><%= link_to t(".apps", default: "contact"), apps_contact_path %></li>
  <li><%= link_to t(".apps", default: "inbox"), apps_inbox_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Charts<% end %>
<ul>
  <li><%= link_to t(".charts", default: "charts"), charts_chart_path %></li>
  <li><%= link_to t(".charts", default: "echarts_bar"), charts_echarts_bar_path %></li>
  <li><%= link_to t(".charts", default: "echarts_gauge_funnel"), charts_echarts_gauge_funnel_path %></li>
  <li><%= link_to t(".charts", default: "echarts_line"), charts_echarts_line_path %></li>
  <li><%= link_to t(".charts", default: "echarts_map"), charts_echarts_map_path %></li>
  <li><%= link_to t(".charts", default: "echarts_pie"), charts_echarts_pie_path %></li>
  <li><%= link_to t(".charts", default: "echarts_radar_chord"), charts_echarts_radar_chord_path %></li>
  <li><%= link_to t(".charts", default: "echarts_scatter"), charts_echarts_scatter_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Dashboards<% end %>
<ul>
  <li><%= link_to t(".dashboards", default: "dashboard"), dashboards_dashboard_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_0"), dashboards_dashboard_0_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_1"), dashboards_dashboard_1_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_2"), dashboards_dashboard_2_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_3"), dashboards_dashboard_3_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_4"), dashboards_dashboard_4_path %></li>
  <li><%= link_to t(".dashboards", default: "dashboard_5"), dashboards_dashboard_5_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Forms<% end %>
<ul>
  <li><%= link_to t(".forms", default: "form_dropzone"), forms_form_dropzone_path %></li>
  <li><%= link_to t(".forms", default: "form_editor"), forms_form_editor_path %></li>
  <li><%= link_to t(".forms", default: "form_element"), forms_form_element_path %></li>
  <li><%= link_to t(".forms", default: "form_layout"), forms_form_layout_path %></li>
  <li><%= link_to t(".forms", default: "form_picker"), forms_form_picker_path %></li>
  <li><%= link_to t(".forms", default: "form_select"), forms_form_select_path %></li>
  <li><%= link_to t(".forms", default: "form_validation"), forms_form_validation_path %></li>
  <li><%= link_to t(".forms", default: "form_wizard"), forms_form_wizard_path %></li>
  <li><%= link_to t(".forms", default: "form_editor"), forms_ng_editor_path %></li>
  <li><%= link_to t(".forms", default: "ng_file_upload"), forms_ng_file_upload_path %></li>
  <li><%= link_to t(".forms", default: "ng_image_crop"), forms_ng_image_crop_path %></li>
  <li><%= link_to t(".forms", default: "ng_select"), forms_ng_select_path %></li>
  <li><%= link_to t(".forms", default: "ng_slider"), forms_ng_slider_path %></li>
  <li><%= link_to t(".forms", default: "ng_tree"), forms_ng_tree_path %></li>
  <li><%= link_to t(".forms", default: "ng_validation"), forms_ng_validation_path %></li>
  <li><%= link_to t(".forms", default: "ng_xeditable"), forms_ng_xeditable_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Miscs<% end %>
<ul>
  <li><%= link_to t(".miscs", default: "cinq"), miscs_cinq_path %></li>
  <li><%= link_to t(".miscs", default: "forgot_password"), miscs_forgot_password_path %></li>
  <li><%= link_to t(".miscs", default: "lockme"), miscs_lockme_path %></li>
  <li><%= link_to t(".miscs", default: "quatre"), miscs_quatre_path %></li>
  <li><%= link_to t(".miscs", default: "signin"), miscs_signin_path %></li>
  <li><%= link_to t(".miscs", default: "signup"), miscs_signup_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Pages<% end %>
<ul>
  <li><%= link_to t(".pages", default: "blank"), pages_blank_path %></li>
  <li><%= link_to t(".pages", default: "docs"), pages_docs_path %></li>
  <li><%= link_to t(".pages", default: "faq"), pages_faq_path %></li>
  <li><%= link_to t(".pages", default: "gallery"), pages_gallery_path %></li>
  <li><%= link_to t(".pages", default: "invoice"), pages_invoice_path %></li>
  <li><%= link_to t(".pages", default: "price"), pages_price_path %></li>
  <li><%= link_to t(".pages", default: "profile"), pages_profile_path %></li>
  <li><%= link_to t(".pages", default: "search"), pages_search_path %></li>
  <li><%= link_to t(".pages", default: "setting"), pages_setting_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Tables<% end %>
<ul>
  <li><%= link_to t(".table", default: "tables_datatable"), tables_datatable_path %></li>
  <li><%= link_to t(".table", default: "tables_footable"), tables_footable_path %></li>
  <li><%= link_to t(".table", default: "tables_ng_editable"), tables_ng_editable_path %></li>
  <li><%= link_to t(".table", default: "tables_ng_smart"), tables_ng_smart_path %></li>
  <li><%= link_to t(".table", default: "tables_ng_uigrid"), tables_ng_uigrid_path %></li>
  <li><%= link_to t(".table", default: "tables_static"), tables_static_path %></li>
</ul>
<%= link_to root_path, :class => 'header__link' do %>Uis<% end %>
<ul>
  <li><%= link_to t(".uis", default: "ng_bootstrap"), uis_ng_bootstrap_path %></li>
  <li><%= link_to t(".uis", default: "arrow"), uis_arrow_path %></li>
  <li><%= link_to t(".uis", default: "asides"), uis_asides_path %></li>
  <li><%= link_to t(".uis", default: "box"), uis_box_path %></li>
  <li><%= link_to t(".uis", default: "button"), uis_button_path %></li>
  <li><%= link_to t(".uis", default: "color"), uis_color_path %></li>
  <li><%= link_to t(".uis", default: "dropdown"), uis_dropdown_path %></li>
  <li><%= link_to t(".uis", default: "footers"), uis_footers_path %></li>
  <li><%= link_to t(".uis", default: "grid"), uis_grid_path %></li>
  <li><%= link_to t(".uis", default: "headers"), uis_headers_path %></li>
  <li><%= link_to t(".uis", default: "icon"), uis_icon_path %></li>
  <li><%= link_to t(".uis", default: "label"), uis_label_path %></li>
  <li><%= link_to t(".uis", default: "list"), uis_list_path %></li>
  <li><%= link_to t(".uis", default: "map_vector"), uis_map_vector_path %></li>
  <li><%= link_to t(".uis", default: "modal"), uis_modal_path %></li>
  <li><%= link_to t(".uis", default: "nav"), uis_nav_path %></li>
  <li><%= link_to t(".uis", default: "ng_angularstrap"), uis_ng_angularstrap_path %></li>
  <li><%= link_to t(".uis", default: "ng_google"), uis_ng_google_path %></li>
  <li><%= link_to t(".uis", default: "progress"), uis_progress_path %></li>
  <li><%= link_to t(".uis", default: "social"), uis_social_path %></li>
  <li><%= link_to t(".uis", default: "sortable"), uis_sortable_path %></li>
  <li><%= link_to t(".uis", default: "streamline"), uis_streamline_path %></li>
  <li><%= link_to t(".uis", default: "timeline"), uis_timeline_path %></li>
  <li><%= link_to t(".uis", default: "widget"), uis_widget_path %></li>
</ul>
