<p id="notice"><%= notice %></p>

<p>
  <strong>Typedebail:</strong>
  <%= @bail.typeDeBail %>
</p>

<p>
  <strong>Dureedubail:</strong>
  <%= @bail.dureeDuBail %>
</p>

<p>
  <strong>Datedebutbail:</strong>
  <%= @bail.dateDebutBail %>
</p>

<p>
  <strong>Datefinbail:</strong>
  <%= @bail.dateFinBail %>
</p>

<p>
  <strong>Destinationdeslocaux:</strong>
  <%= @bail.destinationDesLocaux %>
</p>

<p>
  <strong>Loyerhorscharges:</strong>
  <%= @bail.loyerHorsCharges %>
</p>

<p>
  <strong>Provisioncharges:</strong>
  <%= @bail.provisionCharges %>
</p>

<p>
  <strong>Modalitereglementchargesrecuperables:</strong>
  <%= @bail.modaliteReglementChargesRecuperables %>
</p>

<p>
  <strong>Revisionautomatiqueduloyer:</strong>
  <%= @bail.revisionAutomatiqueDuLoyer %>
</p>

<p>
  <strong>Jourexigibiliteloyer:</strong>
  <%= @bail.jourExigibiliteLoyer %>
</p>

<p>
  <strong>Modereglement:</strong>
  <%= @bail.modeReglement %>
</p>

<p>
  <strong>Enregistrementautomatiqueloyer:</strong>
  <%= @bail.enregistrementAutomatiqueLoyer %>
</p>

<p>
  <strong>Assurancecolocation:</strong>
  <%= @bail.assuranceColocation %>
</p>

<p>
  <strong>Locataire:</strong>
  <%= @bail.locataire %>
</p>

<p>
  <strong>Bien:</strong>
  <%= @bail.bien %>
</p>

<%= link_to 'Edit', edit_bail_path(@bail) %> |
<%= link_to 'Back', bails_path %>
