<body style="width: auto; margin-left: 0px; overflow-x: auto;">
  <div id="app" class="ember-application">
    <div class="ct__application ct__signIn   fr">
      <div class="application auth">

        <div class="auth__banner">
          <div class="auth__banner-wrapper">
            <div class="auth__banner-content">
              <h1 class="auth__banner-title">Se connecter
              </h1>
            </div>
          </div>
        </div>


        <div class="auth__content">
          <div class="auth__panels">
            <div class="auth__form">
              <div class="signin__wrapper ">

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="signin__form" id="signin-form" novalidate="" disabled="false">
                  <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Adresse email", autocomplete: "on", name: "email", input_html: { class: 'clicktale-pii ember-text-field textfield empty'} %>
                  <%= f.input :password, required: false, label: false, placeholder: "Mot de passe", autocomplete: "on", name:"password", input_html: { class: 'clicktale-pii ember-text-field textfield empty'} %>

                  <div class="signin__forgot">
                    <span>
                    <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
                    </span>
                  </div>
                </div>



                <div class="signin__buttons">
                  <!---->
                  <%= f.button :button, class: "signin__buttons-block signin__button" do %>

                     Se connecter

                  <% end %>
                </div>
              <% end %>



                <div class="signin__hr">
                  <span class="signin__or">
                    ou
                  </span>
                </div>

                <div class="signin__social">
                  <div class="signin__buttons ">

                    <div class="signin__buttons-block">
                      <button class="social-signin-facebook">Se connecter avec Facebook
                      </button>
                    </div>

                    <div class="signin__buttons-block">
                      <button class="social-signin-google">Se connecter avec Google+
                      </button>
                    </div>
                  </div>
                </div>

                <!---->
              </div>
            </div>
          </div>
        </div>


        <!---->
        <!---->
      </div>
    </div>
  </div>

</body>

