
<div class="padding">
	<h5 class="_300 margin">Aside style</h5>
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<nav class="navside white r box-shadow-z0 m-b">
				<%= render "blocks/aside_0" %>
			</nav>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<%= render "blocks/aside_1" %>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<%= render "blocks/aside_2" %>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<%= render "blocks/aside_3" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b nav-center" layout="column" style="height: 680px">
				<%= render "blocks/aside_0" %>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 hidden-md-down">
			<div class="row">
				<div class="col-sm-6">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-expand show-text w-xs" layout="column" style="height: 680px">
						<%= render "blocks/aside_0" %>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown show-text w-xs" layout="column" style="height: 680px">
						<%= render "blocks/aside_2" %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 hidden-md-down">
			<div class="row">
				<div class="col-sm-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-expand" layout="column" style="height: 680px">
						<%= render "blocks/aside_0" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown" layout="column" style="height: 680px">
						<%= render "blocks/aside_1" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown" layout="column" style="height: 680px">
						<%= render "blocks/aside_2" %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="white r box-shadow-z0 b">
  				<%= render "blocks/widget_apps" %>
			</div>
		</div>
	</div>
</div>
