
<div class="padding">
	<h5 class="_300 margin">Header style</h5>
	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_0" %>
	</div>
	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_1" %>
	</div>
  	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_2" %>
	</div>
	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_3" %>
	</div>
	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_4" %>
	</div>
	<div class="white r box-shadow-z0 m-b">
		<%= render "blocks/navbar_5" %>
	</div>
	<p class="m-y-lg padding"></p>
</div>
