<%= simple_form_for(@representant_locataire) do |f| %>
  <%= f.error_notification %>

  <%= f.input :civilite %>
  <div class="form-group row">
    <label class="col-sm-3 form-control-label">Nom</label>
    <div class="col-sm-9">
      <%= f.input :nom, class: "form-control", placeholder: "Nom", label: false%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 form-control-label">Prenom</label>
    <div class="col-sm-9">
      <%= f.input :prenom, class: "form-control", placeholder: "Prenom", label: false%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 form-control-label">Adresse</label>
    <div class="col-sm-9">
      <%= f.input :adresse, class: "form-control", placeholder: "Adresse", label: false%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 form-control-label">Code postal</label>
    <div class="col-sm-9">
      <%= f.input :codePostal, class: "form-control", placeholder: "Code postal", label: false%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 form-control-label">Ville</label>
    <div class="col-sm-9">
      <%= f.input :ville, class: "form-control", placeholder: "Ville", label: false%>
    </div>
  </div>


    <%= f.association :locataire %>

  <div class="dker p-a text-right">
    <%= f.button :submit, class: "btn info" %>
  </div>

<% end %>
