<p id="notice"><%= notice %></p>

<p>
  <strong>Civilite:</strong>
  <%= @locataire.civilite %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @locataire.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @locataire.prenom %>
</p>

<p>
  <strong>Nomdeux:</strong>
  <%= @locataire.nomDeux %>
</p>

<p>
  <strong>Prenomdeux:</strong>
  <%= @locataire.prenomDeux %>
</p>

<p>
  <strong>Nomsociete:</strong>
  <%= @locataire.nomSociete %>
</p>

<p>
  <strong>Nrcs:</strong>
  <%= @locataire.nRcs %>
</p>

<p>
  <strong>Adressesiege:</strong>
  <%= @locataire.adresseSiege %>
</p>

<p>
  <strong>Codepostalsiege:</strong>
  <%= @locataire.codePostalSiege %>
</p>

<p>
  <strong>Villesiege:</strong>
  <%= @locataire.villeSiege %>
</p>

<p>
  <strong>Representant:</strong>
  <%= @locataire.representant %>
</p>

<p>
  <strong>Bailleur:</strong>
  <%= @locataire.bailleur %>
</p>

<%= link_to 'Edit', edit_locataire_path(@locataire) %> |
<%= link_to 'Back', locataires_path %>
