<!DOCTYPE html>
<html>
  <head>
    <title>Rntapp - <%=yield(:title).empty? ? "Reprenez le contrôle" : yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'icon/favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="<%= content_for :body_class %>">
  <div id="<%= content_for :id_app %>" class="<%= content_for :ember %>">
  <div class="<%= content_for :ct_class %>">
  <div class="<%= content_for :application_class %>">
  <div class="<%= content_for :overlay_class %>">
  </div>
  <div class="<%= content_for :cover_class %>">
  </div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
