  <!-- aside -->
  <div id="aside" class="app-aside modal fade sm nav-dropdown" ng-class="{'folded': app.setting.folded}">
    <div class="left navside grey dk" layout="column">
      <div class="navbar no-radius">
        <%= render "blocks/navbar_brand" %>
      </div>
      <div flex class="hide-scroll">
        <nav class="scroll nav-border b-{{app.setting.theme.primary}}">
          <%= render "blocks/nav" %>
        </nav>
      </div>
      <div flex-no-shrink>
        <%= render "blocks/aside_bottom_0" %>
      </div>
    </div>
  </div>
  <!-- / aside -->

  <!-- content -->
  <div id="content" class="app-content box-shadow-z2 box-radius-1x" role="main">
    <div class="app-header white box-shadow">
        <%= render "blocks/header" %>
    </div>
    <div class="app-footer">
      <%= render "blocks/footer" %>
    </div>
    <div ui-view class="app-body" id="view"></div>
  </div>
  <!-- / content -->


