  <!-- aside -->
  <div id="aside" class="app-aside modal fade nav-dropdown" ng-class="{'folded': app.setting.folded}">
  	<!-- fluid app aside -->
    <div class="left navside dark dk" data-layout="column">
  	  <div class="navbar no-radius">
        <%= render "blocks/navbar_brand" %>
      </div>
      <div class="hide-scroll" data-flex>
          <nav class="scroll nav-light">
            <%= render "blocks/nav" %>
          </nav>
      </div>
      <div class="b-t">
        <%= render "blocks/aside_top_0" %>
      </div>
    </div>
  </div>
  <!-- / -->

  <!-- content -->
  <div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header white box-shadow">
        <%= render "blocks/header" %>
    </div>
    <div class="app-footer" ng-class="{'hide': $state.current.data.hideFooter}">
      <%= render "blocks/footer" %>
    </div>
    <div ui-view class="app-body" id="view"></div>
  </div>
  <!-- / -->


