  <!-- aside -->
  <div id="aside" class="app-aside box-shadow-z3 modal fade lg nav-expand" ng-class="{'folded': app.setting.folded}">
  	<div class="left navside white dk" layout="column">
      <div class="navbar navbar-md {{app.setting.theme.primary}} no-radius box-shadow-z4">
        <%= render "blocks/navbar_brand_white" %>
      </div>
      <div flex class="hide-scroll">
        <nav class="scroll">
          <%= render "blocks/aside_top_4" %>
          <%= render "blocks/nav" %>
        </nav>
      </div>
      <div flex-no-shrink>
        <%= render "blocks/aside_bottom_1" %>
      </div>
    </div>
  </div>
  <!-- / aside -->

  <!-- content -->
  <div id="content" class="app-content box-shadow-z3" role="main">
    <div class="app-header {{app.setting.theme.primary}} box-shadow-z4 navbar-md">
        <%= render "blocks/header" %>
    </div>
    <div class="app-footer">
      <%= render "blocks/footer" %>
    </div>
    <div ui-view class="app-body" id="view"></div>
  </div>
  <!-- / -->


